<div class="container-contacts">
    <div class="text-contacts">
        <h3 class="h3-entre">Entre em</h3>
        <h3 class="h3-contato">CONTATO</h3> 

    </div>

</div>

<div class="container-form">
    <div class="elements-form">
        Nome*:<input type="text" class="input-form" name="contact-nome" id="">
        Email*:<input type="email" class="input-form" name="contact-email" id="">
        Telefone*:<input type="tel" class="input-form" name="contact-tel" id="">
        Mensagem:<textarea id="story" class="txtarea-form" name="story" >
            Digite uma mensagem
        </textarea>
        <input type="button" class="btn-form"value="ENVIAR">
    </div>

</div>
