<app-header></app-header>
<div class="center-content">
    <div class="register-container">
    <h3>Cadastro de Usuários</h3>
        <form #userForm="ngForm"  class="register-form" (ngSubmit)="onSubmit(userForm)">
            <div class="form-field">
                <label class="label-input">Nome do Usuario:</label>
                <input type="text" placeholder="Digite o nome" name="name" [(ngModel)]="user.name" required>
            </div>
            <div class="form-field">
                <label class="label-input">Email do Usuario:</label>
                <input type="email" placeholder="Digite o email" name="email" [(ngModel)]="user.email" required>
            </div>
            <div class="form-field">
                <label class="label-input">Senha do Usuario:</label>
                <input type="password" placeholder="Digite a Senha" name="password" [(ngModel)]="user.password" required>
            </div>
            <div class="form-field">
                <label class="label-input">Data de inclusão do Usuario:</label>
                <input type="text" name="inclusionDate" [(ngModel)]="user.inclusionDate" required>
            </div>
            <div class="form-field">
                <label class="label-input"> Usuario ativo?:</label>
                <input type="text" name="validRegistration" [(ngModel)]="user.validRegistration"required>
            </div>
            <div class="form-field">
                <label class="label-input"> Imagem do perfil:</label>
            <input type="file" placeholder="Imagem do Perfil" name="img" [(ngModel)]="user.img" >
            </div>
            <div class="action-form">
                <button type="submit"[disabled]="userForm.invalid">Salvar</button>
            </div>
        </form>
    </div>
</div>
    <app-footer></app-footer>